<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoFactory" value="Factory.FactoryMethod.BmwFactory"/>
    <add key="AutoAbstractFactory" value="Factory.AbstractFactory.BmwAbstractAutoFactory"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
